# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.log
*.ico
*.pkl
*.bak
*.png
*.ini
package.bat
Fefs.spec
TODO.md


# Distribution / packaging
.idea
dist
build
# /temp/*.png

account
setup.py
rpc_console.py
console_erya/*.exe