# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.log
*.ico
*.pkl
*.bak
*.png
*.txt

# Distribution / packaging
.idea
dist
build
# /temp/*.png

setup.py
rpc_console.py
console_erya/*.exe